.countries {
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 400px;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.countries:hover {
    box-shadow: 0px 0px 3px #7c7c7c;
    transform: scale(1.01);
}

.countries img {
    width: 55px;
    height: 58px;
    border-radius: 3px;
}

#print {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.wd-80 {
    width: 80% !important;
}

.countries ion-icon {
    font-size: 23px;
    position: absolute;
    right: 10px;
}

.type {
    margin: 0px !important;
    background-color: rgb(116, 17, 253);
    padding: 5px 12px;
    color: #fff !important;
    font-weight: 600;
    border-radius: 10px;
}

.league-name {
    width: 50%;
    text-align: left;
}