@import url(sidebar.css);
@import url(leagues.css);
@import url(teaminformation.css);
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container-content {
    width: 98%;
    height: 95%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.soccer-infos {
    height: 100%;
    width: 80%;
}

.content-square {
    position: relative;
    height: 94%;
    box-shadow: 0px 0px 9px #ddd;
    padding: 10px;
    margin: 20px 15px;
    border-radius: 7px;
    overflow-y: auto;
}

.content-square h2 {
    font-size: 1.2em;
    padding: 10px;
    color: #5d27db;
}


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #5d27db;
    border-radius: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #4c12d4;
}