.league-item img {
    width: 50px;
    height: 50px;
}

.content-square ul {
    padding: 10px;
    border-radius: 4px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.carr {
    overflow-x: hidden;
}

.league-item {
    width: 95%;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 3px #ddd;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;
    flex: 0 0 30%;
}

.league-item:hover {
    transform: scale(1.02);
    border-color: #5d27db;
}

.league-brand {
    display: flex;
    justify-content: start;
    align-items: center;
}

.league-type {
    color: #5d27db;
    padding: 3px 15px;
}

.league-item ion-icon {
    width: 100%;
    padding: 10px 0px;
    font-size: 1.4em;
    cursor: pointer;
}

.accordion ul {
    text-align: center;
    overflow-y: auto;
    border-color: #ddd;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.accordion li {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 0px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 22px;
}

.accordion li:hover {
    box-shadow: 0px 0px 3px #6e6e6e;
    border-color: #5d27db;
    background-color: #5d27db;
    color: #fff;
    font-weight: bold;
}

.special-warning {
    padding: 40px 0px;
}

.special-warning h2 {
    display: none;
    text-align: center;
    line-height: 150%;
    color: #4a4a4a;
}

.team {
    display: flex;
    justify-content: start;
    align-items: center;
}

.team-brand {
    width: 100% !important;
}

.league-item p {
    margin-top: 20px;
    padding-left: 10px;
}

#league-list {
    transition: transform 0.3s ease-in-out;
    overflow-x: hidden;
}

#team-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.team {
    cursor: pointer;
}

#leagues {
    position: relative;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px;
    background-color: #5d27db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #ccc;
}

.prev {
    left: 7px;
}

.next {
    right: 10px;
}

#times {
    display: none;
}

#label {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.9em;
    z-index: 1000;
    color: #5d27db;
}

@keyframes carousel-animation {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-20%);
    }
    40% {
        transform: translateX(-40%);
    }
    60% {
        transform: translateX(-60%);
    }
    80% {
        transform: translateX(-80%);
    }
    100% {
        transform: translateX(0);
    }
}